
.project{
    display: flexbox;
    flex: 1 1 42rem;
    /* float: left; */

}

.pro__taken{
      display: block;
      margin-left: 50px;
      color: blue;
}

.service__1{
    line-height: 2;
    padding: 1rem 0;
    max-width: 200px;
}

.service_image{
    flex: 1 1 42rem;
    width: 300px;
    height: 200px ;
    float: right;
   

}

.img__ser_1{
    margin-right: 35px;
    margin-top: -50px;
    border-radius: 20%  20% 20% 0;
    
   
}

.img__ser_2{
    
    margin-right: 356px;
    margin-top: -150px;
    border-radius: 20% 0 20% 20%;
}

.par_service{
  
    box-sizing: border-box;
    border:solid 1px var(--black);
    border-bottom: none;
    padding: 0.5rem;
    width: 350px;
    height: 150px;
    margin-left: 56%;
}

.service__p1{
    margin-top: -220px;
    padding: 1.5rem;
    max-width: 300px;
    margin-left: 50%;
    border-right: none;

}

.service__2{
    /* margin-top: -40px; */
    margin-left: 68%;
    max-width: 250px;
    /* height: 170px; */
    padding-left: 3rem;
    border-left: none;
}

.look_service{
    border: solid var(--black) 1px;
    border-radius: 0 100% 0 0;
    height: 400px;
    width: 1000px;
}

.service_lists{
    
    list-style-type: none;
    padding: 3rem;

}

.give__link{

    border: solid var(--black) 1px;
    padding: 1rem 3rem 1rem 1rem;
    border-radius:0 100% 0 0;
    color: var(--white);
    background-color: var(--black);
    line-height: 80px;

}

.give__link:hover{
    border-radius: 0;
    padding-bottom: 3rem;
    padding-right: 3rem;
    text-decoration: wavy;
    text-decoration-color: var(--white);
    background-color: blue;
}

.designs__service1{
   
    width: 7.2rem;
    height: 7rem;
    border-radius: 50%;
    /* padding:20px 100px  ; */
    margin-top: -250px;
    margin-left: 25%;
}

.__service1{
    margin-top: -250px;
}

.__service2{
    margin-bottom: 120px;
    margin-left: 15%;

}

.__service3{
    margin-left: 79%;

}

.comment_border{
    border:solid 1px;
}

/* guide begins from here */

.table{
    padding: 2rem;
    box-sizing: border-box;
    /* display: flex; */
    line-height: 20px;
    border: solid 0.7px var(--black);
    overflow-x: auto;
    
}

.dashes{
    text-align: center;
}

.per__ups{

    padding: 1rem;
    color: blue;
    
}

.tfoot{

    text-align: center;
}

.right_aside{
    margin-top: -520px;
    float: right;
    margin-right: 530px;
    width: 40px;
    height: 60px;
    /* position: absolute; */
    /* z-index: 10; */
    border-radius: 27% 30% 78% 65%/ 30% 67% 67% 34%;
    
}

.thead{
    text-decoration: underline;
    text-transform: uppercase;
}

.img_1{
    margin-left: 3rem;
    width: 260px;
    height: 230px;
    overflow-x: auto;
    border-radius: 0 40% 40% 0;
    margin-left: 200px;
}

.img_2{
    margin-left: 3rem;
    margin-top:2rem;
    width: 260px;
    height: 250px;
    overflow-x: auto;
    margin-left: 200px;
}

.img_3{
    border-radius: 40% 0 0 40%;
    margin-left: 4rem;
    margin-top:2rem;
    width: 250px;
    height: 235px;
    overflow-x: auto;
}



@media screen and (max-width:1053px) {
    .service__1{
        max-width: 300px;
        
       display: flex;
       flex-wrap: wrap;
       padding-left: rem;
    }

    .service__p1{
        max-width: 800px;
        margin-right: 3rem;
        margin-left: 340px;
       
    }

    .pro__taken{
        margin-left: 20px;
    }

    .service__2{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        padding-left: 7rem;
        padding-right: 3rem;
        margin-left: 580px;
        
}

    .img__ser_2{
        position: absolute;
        left: 350px;
        top:555px;
    }
    .look_service{
        width: 840px;
        margin-top: 150px;
    }
}

@media screen and (max-width: 747px){

    .look_service{
       max-width:400px;
        margin-top: 150px;
    }
  .designs__service1{
      display: none;
  }



    .img__ser_2{
        position: absolute;
        left: 10px;
        top:555px;
    }

    .service__2{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        padding-left: 7rem;
        padding-right: 3rem;
        margin-left: 270px;
        margin-top: -50px;
        
}
.img__ser_1{
    position: absolute;
    left: 10px;
    top:705px;

}
.service__p1{
    display: flex;
    flex-shrink:unset;
    max-width: 400px;
    margin-top: -60px;
    margin-left: 270px;
    padding-top: -4rem;
    border-top: none;
    border-left: none;
   
}

}

@media screen and (max-width: 949px){

    .look_service{
        width: 700px;
        margin-top: 150px;
    }

    .project{
        margin-top: -20px;
    }

    .img__ser_2{
        position: absolute;
        left: 10px;
        top:555px;
    }

    .service__2{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        padding-left: 7rem;
        padding-right: 3rem;
        margin-left: 270px;
        margin-top: -50px;
        
}
.img__ser_1{
    position: absolute;
    left: 10px;
    top:705px;

}
.service__p1{
    display: flex;
    flex-shrink:unset;
    max-width: 400px;
    margin-top: 190px;
    margin-left: 270px;
    padding-top: -4rem;
    border-top: none;
    border-left: none;
   
}

}

@media screen and (max-width: 958px){

    .right_aside{
        margin-top: -70px;
       

    }



   


}

@media screen and (max-width: 1024px){
.img_3{
    display: none;
}
}


@media screen and (max-width: 591px){
    .main{
        font-size: 120%;
    }

    .look_service{
       max-width:240px;
        margin-top: 750px;
        max-height: 300px;
    }
  .designs__service1{
      display: none;
  }



    .img__ser_2{
        position: absolute;
        left: 10px;
        top:555px;
    }

    .service__2{
        position: absolute;
        left: 10px;
        top: 655px;
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        padding-left: 7rem;
        padding-right: 3rem;
        margin-left: 10px;
        margin-top: -50px;
        
}
.img__ser_1{
    position: absolute;
    left: 10px;
    top:800px;

}
.service__p1{
    position: absolute;
    left: 10px;
    top:1000px;

    
    max-width: 400px;
    margin-top: -60px;
    margin-left: 10px;
    padding-top: -4rem;
    border-top: none;
    border-left: none;
   
}

}

@media screen and (max-width:351px){

    .table{
        padding: 5px;
        overflow-y: auto;
    }

 
    
}

@media screen and (max-width:395px){

.img_1{
    margin-left: 300px;
}

.img_2{
    margin-left: 300px ;
}
}



